---
layout: default
title: Homepage
seo:
  meta-description: 
  meta-keywords:
  featured-image_path:
  hide-from-google:
---

<!--  image banner block  -->
    <section class="bg-image bg-cover bg-center tall-90 flex items-center justify-center" style="background-image: url('/images/placeholder2.jpg')">
      <div> 
      <h2> </h2> 
      <h2>  </h2> 
      </div> 
    </section> 


    <h1 class="text-4xl text-center p-4 pt-4"> Today's stories!</h1>

<div class="min-h-screen grid grid-cols-3 md:grid-cols-4 gap-4 p-10">

  {% for post in site.posts limit:5 %}

  <a class="bg-blue-100 p-4 bg-cover bg-center relative
  {% cycle 'col-span-1', 'col-span-2 row-span-2', 'col-span-1', 'col-span-1', 'col-span-1',  %}" 
  style="background-image:url('{{post.featured_image}}')" href="{{post.url}}">
      <div class="absolute inset-0 hover:bg-slate-300 p-4 text-transparent hover:text-white ">
        <h3> {{post.categories}} </h3>   
        <h2> {{post.title}} </h2>
        <h2> {{post.author}} </h2> 
      </div>
  </a>

  {% endfor %}

</div>


<!-- 
<section class="grid md:grid-cols-3"> 

{% for post in site.posts %}

<div> 
  <a href="{{post.url}}"> 
  <img src="{{ post.featured_image}}" alt="">
  <h3> {{post.categories}} </h3> 
<h1>  {{ post.title }}  </h1> 
<h2> {{ post.author}} </h2> 
  </a> 
</div> 
{% endfor %}

</section>  -->